.menuPrincipal{
    -fx-background-color: white;
}
.txtTitulo{
    -fx-text-fill: #1e1f26;
    -fx-font-size: 20px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 800;
}
.table-view{
    -fx-background-color: transparent;
    -fx-font-family: "Roboto";
}
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.txtTituloGrafica{
    -fx-text-fill: #1e1f26;
    -fx-font-size: 16px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
}
.paneG1{
    -fx-background-color: #EBF3F9;
}
.paneG2{
    -fx-background-color: #DFD8F2;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.btnExportar{
    -fx-cursor:  pointer;
    -fx-border-width: 0px;
    -fxborder-radius: 4px;
    -fx-background-color: #0099cc;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
}
.dialog-pane{
    -fx-background-color: white;
}
.dialog-pane .header-panel{
    -fx-text-fill: #1e1f26;
    -fx-font-size: 14px;
    -fx-font-family: "Roboto";
}
.dialog-pane > content.label{
    -fx-background-color: white;
}
.dialog-pane .button{
    -fx-cursor:  pointer;
    -fx-border-width: 0px;
    -fxborder-radius: 4px;
    -fx-background-color: #030303;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
}