.menuPrincipal{
    -fx-background-color: white;
}
.txtTitulo{
    -fx-text-fill: #1e1f26;
    -fx-font-size: 16px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 800;
}
.btnSalir{
    -fx-background-color: white;
    -fx-border-width: 0px;
}
.cbMovimiento{
    -fx-cursor: pointer;
    -fx-padding: 0px 8px;
    -fx-border-width: 1px;
    -fx-border-color: #1e1f26;
    -fx-background-color: white;
    -fx-text-fill: #f9fafe;
    -fx-font-size: 12px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
}
.cbMovimiento .arrow{
    -fx-background-color: #1e1f26;
}
.cbMovimiento .list-cell{
    -fx-background-color: white;
    -fx-text-fill: #1e1f26;
}
.txtGenerico{
    -fx-text-fill: #1e1f26;
    -fx-font-size: 12px;
    -fx-font-family: "Roboto";
}
.txtTituloCampo{
    -fx-text-fill: #1e1f26;
    -fx-font-size: 12px;
    -fx-font-family: "Roboto";
}
.textBoxCampo{
    -fx-background-color: #ffffff;
    -fx-padding: 0px 8px;
    -fx-border-width: 1px;
    -fx-border-color: #cfcfd0;
    -fx-font: 12px "Roboto";
    -fx-text-fill: #707071;
    -fx-pref-height: 30px;
    -fx-border-radius: 2px;
}
.btnIngreso{
    -fx-cursor:  pointer;
    -fx-border-width: 0px;
    -fxborder-radius: 4px;
    -fx-background-color: #030303;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-font-family: "Roboto";
    -fx-font-weight: 700;
}